@charset "utf-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
fieldset{
    border:  1px solid #c0c0c0;
    padding: 30px 20px 30px 30px;
    margin-bottom: 35px;
}
legend{
    font-size: 24px;
    font-weight: 700;
}
form{
    width: 520px;
margin: 50px auto;
}
.field{
    display: inline-block;
    width: 60px;
    background-color: beige;
    line-height: 55px;
    text-align: right;
    margin-right: 16px;

}
.input-box{
    width: 350px;
    padding: 5px;
}
.order{
    width: 100%;
    padding: 20px;
    border: 1px #c0c0c0;
    background-color: #e9e9e9;
    font-size: 16px;
    font-weight: bold;
}