@charset "UTF-8";
@import url("reset.css");

.tab-btn{
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}
.tab-btn.active{
    background-color: #333;
    color: #fff;
    font-weight: bold;
}
.tab-content{
padding: 20px;
border: 1px solid #333;
display: none;
}
.tab-content.active{
    display: block;
}